.dashboard-container {
  display: flex;
  width: 100%;
}

.main-content {
  flex-grow: 1;
  background-color: #f8f9fa;
  padding: 1rem;
}
/* Ítems del sidebar */
.sidebar-item {
  color: #6c757d; /* gris */
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.sidebar-item:hover {
  background-color: #e9f2ff;
  color: #0d6efd; /* azul */
}

.sidebar-item:hover i {
  color: #0d6efd;
}

/* Ítem activo (Inicio por defecto) */
.active-item {
  background-color: #0d6efd;
  color: white !important;
}

.active-item i {
  color: white !important;
}

.dashboard-card {
  transition: all 0.2s ease-in-out;
}

.dashboard-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}
